<h1>Editing content</h1>
 


<br>
<%= form_for @content, html: { multipart: true } do |form| %>
  

  <div>
    <%= form.label :titolo, style: "display: block" %>
    <%= form.text_field :titolo %>
  </div>

  <div>
    <%= form.label :descrizione, style: "display: block" %>
    <%= form.text_area :descrizione %>
  </div>
  
  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>
  <div>
  <%= form.label :Immagine %><br>
  <%= form.file_field :cover %>
  </div>
  <div>
  <%= form.label :allegato %><br>
  <%= form.file_field :allegato %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div >
  <%= link_to "Scheda Articolo", @content, class: "btn" %> &nbsp;
  <%= link_to "Torna a Shop", contents_path , class: "btn" %>
</div>
