<p style="color: green"><%= notice %></p>

<!-- <h1>Contents</h1> -->

<div id="contents">

<div class="row">

   
    <% @contents.each do |try|    %>

      <div class="col s3">
              <div class="card">
                         <div class="card-image waves-effect waves-block waves-light">
                         <%= image_tag try.cover.url(:medium) %>
                              
                          </div>
                          <div class="card-content">
                               <span class="card-title activator grey-text text-darken-4" style="text-transform:capitalize !important"> <%= try.titolo %><i class="material-icons right">more_vert</i></span></span>

                          <div> <span class="right" style="padding-right:10px !important">  <%= number_to_currency(try.price) %></span> Venduto da    <%= try.user.name %>
                       
                      </div>
                        </div>
                      
                      <div class="card-action" style="text-align:center;">
                        <a href="#"> <%= link_to "Scopri di più", try , class: "btn" %></a>
                        
                      </div>
              </div>

      </div>
    <%    end %>
  </div>
        


<div class="row">

  
  <div class="col s2">
  <strong>Titolox:</strong>
  </div>
  <div class="col s2">
    <strong>Descrizione:</strong>
    </div>
    <div class="col s2">
  <strong>Nome:</strong>
  </div>

    <div class="col s6">
    <strong>Prezzo:</strong>
    </div>

</div>
<hr>
  <% @contents.each do |try|    %>
    
        <div class="row">

   
            <div class="col s2">
            <%= try.titolo %>
            </div>
            <div class="col s2">
            <%= try.descrizione %>
            </div>
            <div class="col s2">
            <%= try.user.name %>
            </div>
  
            <div class="col s3">
            <%= try.price %>
            </div>
            <div class="col s1">
                <%= link_to "Mostra", try %>
                </div>

                <% if try.user == current_user%>
                  <div class="col s1">
                    <%= link_to "Modifica", edit_content_path(try) %>
                  </div>
                  <div class="col s1">
                    <%= button_to "Canc", try, method: :delete, data: {turbo: true, turbo_confirm: 'Sei sicuro?'} %>
                  </div>
                <% else %>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <% end %>
                </div>
        
            <p>
            
            </p>
          <%    end %>
        </div>

<%= link_to "New content", new_content_path %>
