<p style="color: green"><%= notice %></p>
<p>&nbsp;</p>
<div class="row">
        <div class="col l6">
             <%= image_tag @content.cover.url, class: "responsive-img show-img" %>
        </div>

        <div class="col l6 ">

              <h1 class="show-titolo"><%= @content.titolo %></h1>
              <h4 class="show-price"><%= number_to_currency(@content.price) %>
              </h4>
              <p class="show-p"> <b>Venduto da: </b> <%= @content.user.name %> </p>

              <p class="show-p"> <b>Descrizione: </b> <br><%= @content.descrizione %>
              </p>


        </div>
             

              
</div>
 

<div style="display:flex;">

  <% if @content.user == current_user%>
  <br>  <%= link_to "Torna a Shop", contents_path , class: "btn"%>  
  &nbsp;  &nbsp; 
   <%= link_to "Modifica", edit_content_path(@content), class: "btn" %> &nbsp;  
  <% end %> &nbsp; 

  <% if @content.user == current_user%>
 
  
  <%= button_to "Elimina", @content, method: :delete, data: { turbo_confirm: 'Sei sicuro di cancellare?'} , class: "btn red darken-2" %>
  <p>&nbsp;</p>
  <% end %>
</div>
